Repository diba-io/bitmask-core, pull requests merged in 2023-07, with the labels that each got.

#255 Update to Strict-Type 1.4.x
  Cargo.lock
  Cargo.toml
  src/bitcoin/psbt.rs
  src/constants.rs
  src/rgb.rs
  src/rgb/contract.rs
  src/rgb/issue.rs
  src/rgb/structs.rs
  src/rgb/wallet.rs
  src/structs.rs
  tests/rgb.rs
  tests/rgb/integration/import.rs
  tests/rgb/integration/utils.rs
  tests/rgb/sre/st140.rs
  tests/rgb/sre/st140_web.rs
  tests/rgb/web/imports.rs
Labels: enhancement, help wanted, priority-high

#265 Update strict-type to v1.5 (import from genesis fix)
  .github/workflows/rust.yaml
  Cargo.lock
  Cargo.toml
  docker-compose.yml
  src/rgb.rs
  src/rgb/contract.rs
  src/rgb/import.rs
  src/rgb/issue.rs
  src/rgb/prefetch.rs
  src/rgb/resolvers.rs
  src/structs.rs
  tests/rgb.rs
  tests/rgb/integration/import.rs
  tests/rgb/integration/transfers.rs
  tests/rgb/integration/utils.rs
  tests/rgb/sre/st150.rs
  tests/rgb/sre/st150_web.rs
  tests/rgb/unit/invoice.rs
  tests/rgb/unit/stl.rs
  tests/rgb/unit/utils.rs
  tests/rgb/web/contracts.rs
  tests/rgb/web/imports.rs
  tests/rgb/web/stl_ids.rs
  tests/rgb/web/stl_load.rs
  tests/scripts/check_headless.sh
  tests/web_storage.rs
  tests/web_wallet.rs
Labels: bug, dependencies, rgb, wasm

#277 Reproducible Docker Builds
  .dockerignore
  docker/bitmask/Dockerfile
  docker/bitmask/Dockerfile.ST120
Labels: bug, dependencies

#288 Fix MimeType and Attach
  Cargo.lock
  Cargo.toml
  src/rgb.rs
  src/rgb/contract.rs
  src/rgb/issue.rs
  src/rgb/prefetch.rs
  src/structs.rs
  tests/rgb/unit/issue.rs
  tests/rgb/unit/utils.rs
Labels: bug, enhancement, rgb

#302 Drain wallet
  Cargo.lock
  Cargo.toml
  src/bitcoin.rs
  src/web.rs
  tests/rgb.rs
  tests/rgb/integration/drain.rs
Labels: enhancement, bitcoin
